# String

1. Python program to check whether the string is Symmetrical or Palindrome

In [ ]:

str1 = 'khokho'
str2 = 'lateeeetal'
str3 = 'uotou'
str4 = 'rainyrainy'

In [ ]:
# Naive Attemp
def checkSymPalindrom(a):
  # to check symmetrical it should be even 
 
  half = len(a)//2 

  if len(a) % 2==0:
    
    firststr = a[:half]
    secondstr = a[half:]
  else:
    firststr = a[:half]
    secondstr = a[half+1:]
   
  #symmetric 
  if firststr == secondstr :
    print(a, 'string is Symmetrical')
  else:
    print(a,"string is not symmetrical")
     

  if firststr == secondstr[::-1]:
        print(a, 'string is Palindrome')
  else:
      print(a,"string is not Palindrom")

In [ ]:
checkSymPalindrom(str2)

lateeetal string is not symmetrical
lateeetal string is Palindrome

In [ ]:
# code given by 
def palindrome(a):
  # find the start,mid and last index of the string
  mid = (len(a)-1)//2 
  print("mid",mid)
  last = len(a)- 1
  start = 0
  flag = 0

  while (start <= mid):
    if a[start] == a[last]:
      start +=1
      last -=1
    else:
      flag = 1
      break 
  
  if flag == 0:
    print("The entered string is Palindrom")
  else:
    print("The entered string is not Palindrom")

def symmetric(a):

  n = len(a)
  if n%2==0:
    mid = n//2
  else:
    mid = n//2 + 1

  start1 = 0
  start2 = mid 
  flag = 0

  while (start1 < mid and start2 < n ):
    if a[start1] == a[start2]:
      start1 +=1
      start2 +=1
    else:
      flag = 1
      break 
  
  if flag == 0:
    print("The entered string is symmetrical")
  else:
    print("The entered string is no symmetrical")

In [ ]:

str1 = 'khokho'
str2 = 'lateeeetal'
str3 = 'uotou'
str4 = 'rainyrainy'

In [ ]:
symmetric('amaama')

The entered string is symmetrical

In [ ]:
palindrome('amaama')

mid 2
The entered string is Palindrom

2. Reverse words in a given string.

In [ ]:
def reversestring(a):
  n = len(a)
  str1 =''
  i = n-1
  print("i",i)
  while i > 0:
    print("i",i)
    lastindex = i
    print("lastindex",lastindex,a[lastindex])
    for i in range(i-1,-1,-1):
      if a[i] == ' ':
        print("i",i)
        print(a[i+1:lastindex+1])
        print("before str1",str1)
        str1 +=a[i+1:lastindex+1]+' '
        print("str1",str1)
        break
    
  return str1

In [ ]:
str1 = "geeks quiz practice code"
output :'code practice quiz geeks'

In [ ]:
def reverseString(s):

  # Let's start at the end of string. We will use whitespace as a delimiter
  accum = ''
  i = len(s)-1
  delim = ' '
  output = ''

  while i >= 0:
    if s[i] == delim:
      if output == '':
        output = accum
      else:
        output = output + delim + accum
      accum = ''
    else:
      accum = s[i] + accum
    i -= 1

  output = output + delim + accum
  return output

In [ ]:
def reverse_sentence(a):

  # first split into words
  words = a.split(' ')

  #then reverse the split string list and join using space
  reverse_sentence = ' '.join(reversed(words))

  return reverse_sentence

In [ ]:
reverseString(str1)

'code practice quiz geeks'

In [ ]:
reverse_sentence(str1)

'code practice quiz geeks'

3. Way's to remove the i'th character from string in Python

In [ ]:
# Initializing String 
test_str = "GeeksForGeeks"
# remove the character in position 3
test_str

'GeeksForGeeks'

In [ ]:
def removeIchar(a,r):
  n = len(a)
  accum = ''
  for i in range(0,n):
    if i != r:
      accum +=a[i]
    else:
      accum += a[i+1:]
      break
  return accum

In [ ]:
def removeIchar(a,r):
  n = len(a)
  
  newstr = a[0:r] + a[r+1:]
 
  return newstr

In [ ]:
removeIchar(test_str,2)

'GeksForGeeks'

In [ ]:
#Learning to use the replace function
test_str.replace('e','')

'GksForGks'

In [ ]:
test_str.replace('s','',1)

'GeekForGeeks'

4. Python : Avoid Spaces in string length

In [ ]:
def avoidspace(a):
  n = len(a)
  newstrlen = 0
  for i in range(0,n):
    if a[i] == ' ':
      continue
    else:
      newstrlen +=1
  return newstrlen

In [ ]:
test='geeksforgeeks 33 is   best'

In [ ]:
# doing the same function using ispace and sum 
res  = sum(not chr.isspace() for chr in test)
print(res)

21

In [ ]:
test_str = 'geeksforgeeks 33 best'
avoidspace(test_str)

19

5. Python program to print even length words in a string
"Given a string. The task is to print all words with even length in the given string"

In [ ]:
def evenstring(a):
  words = a.split(' ')
  for word in words:
    if len(word) %2 == 0:
      print(word)

In [ ]:
s ="This is a python language"
evenstring(s)

This
is
python
language

6. Python : Uppercase half string
"Given a String, perform uppercase of later part of the string

In [ ]:
def Uppercasehalf(a):
  
  n = len(a)
  if n%2 ==0:
    mid = n//2
  else:
    mid = n//2 + 1
  
  newstr  = a[:mid] + a[mid:].upper()

  return newstr

In [ ]:
 test_str = 'geeksforgeek'
 Uppercasehalf(test_str)

'geeksfORGEEK'

In [ ]:
n = len(test_str)
if n%2 == 0:
  half = n//2
else:
  half = n//2 + 1

ans = ''.join([test_str[idx].upper() if idx >= half else test_str[idx] 
               for idx in range(0,n)])

print(ans)

geeksfORGEEK

# List

1. Python program to interchangef first and last elements in a list. 
"Given a list, write a program to swap first and last element on the list"

In [ ]:
def swapfirstlast(l):
  l[0],l[-1] = l[-1],l[0]
  return l

In [ ]:
# another method
def swaplist(l):
  get = l[-1],l[0]

  l[0],l[-1] = get

  return l

In [ ]:
l = [12, 35, 9, 56, 24]
swapfirstlast(l)

[24, 35, 9, 56, 12]

In [ ]:
l = [12, 35, 9, 56, 24]
swaplist(l)

[24, 35, 9, 56, 12]

Using * Operand:
This operand process a change to iterable unpacking syntax, allowing to specify a catch-all name which will be assigned a list of all items not assigned to a "regular" name:

In [ ]:
l= [ 1,2,3,4]
a,*b,c = l
print(a)
print(b)
print(c)

1
[2, 3]
4

In [ ]:
def swaplist(l):
  start,*middle,end = l
  l = [end,*middle,start]
  return l

In [ ]:
l = [12, 35, 9, 56, 24]
swaplist(l)

[24, 35, 9, 56, 12]

Approach #5. Swap the first and last elements is to use the inbuilt function pop(). Pop the first element and store it in a variable. Similarly, pop the last element and store it  in another variable. Now insert the two popped element at each other's  original position

In [ ]:
def swappop(l):
  first = l.pop(0)
  last = l.pop(-1)
  l.insert(0,last)
  l.append(first)
  return l

In [ ]:
l = [12, 35, 9, 56, 24]
swappop(l)

[24, 35, 9, 56, 12]

2. Python program to swap two elements  in a list.
"Given a  list in python and provided the positions of the elements, write a program to swap the two elements in the list.

In [ ]:
def swap(l,pos1,pos2):
  l[pos1], l [pos2] = l[pos2],l[pos1]
  return l

In [ ]:
def swappop(l,pos1,pos2):
  first = l.pop(pos1)
  second = l.pop(pos2-1)

  l.insert(pos1,second)
  l.insert(pos2,first)
  return l

In [ ]:
l = [23, 65, 19, 90]
pos1 = 1
pos2 = 3
swap(l,pos1,pos2)

[23, 90, 19, 65]

In [ ]:
l = [23, 65, 19, 90]
pos1 = 1
pos2 = 3
swappop(l,pos1,pos2)

90

[23, 90, 19, 65]

3. Python | Ways to find length of a list 
Performance Anlysis  - Naive vs len() vs length_hint()

In [ ]:
# Python code
# To demonstrate length of list
# Performance Analysis 
from operator import length_hint
import time

test_list = [1,4,5,7,8]

print("The list is :"+ str(list))
start_naive_time = time.time()
counter = 0
for i in test_list:

  #incrementing counter 
  counter = counter+1

end_naive_time = str(time.time() - start_naive_time)

#using length of list 
start_time_len = time.time()
list_len = len(test_list)
end_time_len = str(time.time() - start_time_len)

# finding length of list using 
#length_hint()

start_time_len_hint = time.time()
list_len = len(test_list)
end_time_len_hint = str(time.time() - start_time_len_hint)

#printing time of each 
print("Time taken using naive method :"+str(end_naive_time))
print("Time taken using len method :"+str(end_time_len))
print("Time taken using len_hint method :"+str(end_time_len_hint))

The list is :<class 'list'>
Time taken using naive method :6.961822509765625e-05
Time taken using len method :3.838539123535156e-05
Time taken using len_hint method :3.5762786865234375e-05

3. maximum of 2 numbers

In [ ]:
a = 3
b = 4
print(a if a>b else b)

4

4. Check if element exists in list in Python

In [ ]:
test_list = [ 1, 6, 3, 5, 3, 4 ]
check = 4 
# using loop 
for i in test_list:
  if i ==4:
    print("Element Exists")

print("Checking if 4 exists in list using in")
if (4 in test_list):
  print("4 exists in list")

Element Exists
Checking if 4 exists in list using in
4 exists in list

5. Different ways to clear a list in Python

In [ ]:
GEEK = [ 6,0,4,1]
GEEK.clear()
print("GEEK after clear:"+str(GEEK))

#2 method : Initializing the list 
lst2 = [5,6,7]
lst2 = []
print("List2 after clearing using initialization :" +str(lst2))

#Method 3: Using "*=0". This is a lesser known method, but this method
# removes all elements of the list and makes it empty.

lst3 = [5,5,2,5,67,9]
lst3*=0

lst2 = []
print("List3 after using *=0 using initialization :" +str(lst3))

#method4 : Using del().  del can be used to clear the list elements 
# in a range. if we don't give a range, all the elements of the lists are deleted

list5 = [5,1,2,3,4]
del list5[:]
print("List5 after using del :" +str(list5))

GEEK after clear:[]
List2 after clearing using initialization :[]
List3 after using *=0 using initialization :[]
List5 after using del :[]

6. Reversing a List

In [ ]:
lst = [10, 11, 12, 13, 14, 15]

In [ ]:
# Method1 : using the reversed() built-in  function 
def reverse(lst):
  return [ ele for ele in reversed(lst)]

In [ ]:
reverse(lst)

[15, 14, 13, 12, 11, 10]

method 2:  Using the reverse() method we can reverse  the contents of the list object in-place i.e we don't need  to create a new list we just copying  the existing elements to the original list in revese order. This method directly modfies the original list.

In [ ]:
def reverse(lst):
  lst.reverse()
  return lst

In [ ]:
lst = [10, 11, 12, 13, 14, 15]
reverse(lst)

[15, 14, 13, 12, 11, 10]

method 3 :  Using the slicing technique 
In this technique, a copy  of the list is made and the list  is not stored in -place.  Creating a copy requires more space to hold all of the existing elements. This exhausts more memory

In [ ]:
def reverse(lst):
  new_lst = lst[::-1]
  return new_lst

In [ ]:
lst = [10, 11, 12, 13, 14, 15]
reverse(lst)

[15, 14, 13, 12, 11, 10]

Python List Comprehension And Slicing

List comprehension is an elegant way to define and create  a list in python.  We can create lists just like mathematical statements and in one line only.  The syntax  of list comprehension is easier to grasp.

A list comprehension generally consist of three parts: 

1. Output expression 
2. Input sequence
3. A variable representing a member  of the input sequence. 
4. An optional predicate part.

In [ ]:
# Python program to demonstrate list comprehensions 

# below list contains square  of all odd numbers from
# range 1 to 10
odd_square = [x**2 for x in range(1,11) if x%2 !=0]
print("odd_square",odd_square)

odd_square [1, 9, 25, 49, 81]

In [ ]:
# below list contains  power of 2 from 1  to 8
power_of_2 = [2**x for x in range(1,9)]
print(power_of_2)

[2, 4, 8, 16, 32, 64, 128, 256]

In [ ]:
noprimes = [j for i in range(2, 8) for j in range(i*2, 50, i)] 
primes = [ x for x in range(2,50) if x  not in noprimes]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
# list of lowering the characters 
print([x.lower() for x in ['A','B','C']])

['a', 'b', 'c']

In [ ]:
# list which extracts number 
string = 'my phone number is : 11122 !!'
numbers = [ x for x in string if x.isdigit()]
print(numbers)

['1', '1', '1', '2', '2']

We can use the **filter** function to filter a list based on some condition provided  as a **lambda expression** as the first argument  and list as the second argument

In [ ]:
# filtering odd numbers 
import functools

lst = filter(lambda x: x % 2 == 1,range(1,20))
print(list(lst))

[<function <lambda> at 0x7f50e0ea60e0>, range(1, 20)]

In [ ]:
#  filtering odd square which are divisible by 5
lst = filter(lambda x: x % 5 == 0, [x**2 for x in range(1,20) if x % 2 == 1])
print(list(lst))

[25, 225]

In [ ]:
# filtering negative numbers 
lst = filter(lambda x: x< 0,range(-50,50))
print(list(lst))

[-50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

7. Python | Cloning or Copying a list

In [ ]:
def cloning(lst):
  new_lst = lst[:]
  return new_lst

In [ ]:
#Driver Code
l = [4, 8, 2, 10, 15, 18]
cloning(l)

[4, 8, 2, 10, 15, 18]

In [ ]:
# using the extend method 
g = []
g.extend(l)
print(g)

[4, 8, 2, 10, 15, 18]

In [ ]:
#using list comprehensions

f =   [x for x in l]
print(f)

[4, 8, 2, 10, 15, 18]

In [ ]:
# append method 
g = []
for i in l: g.append(i)
print(g)

[4, 8, 2, 10, 15, 18]

8. Count occurances of an element in a list.

In [ ]:
def countElement(l,x):
  # naive method looping 
  count = 0
  for i in l:
    if i == x:
      count +=1
  return count

In [ ]:
lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
x = 10

In [ ]:
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8

In [ ]:
countElement(lst,x)

5

In [ ]:
# To use the list_method_count() to count the number of occurances
def count1(lst,x):
  return lst.count(x)

In [ ]:
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8

In [ ]:
count1(lst,x)

5

Method 2: (Using Counter())
Counter method returns a dictionary  with occurances of all elements as a key-value pair, where key is the element  and value is the number of times that element has occured.

In [ ]:
from collections import Counter

# declaring the list
l = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

x = 3
d = Counter(l)
print(x,d[x])

3 2

### List of List

1. Remove empty list from list.

In [ ]:
# Initializing list 
test_list = [5, 6, [], 3, [], [], 9]

In [ ]:
# try yourslef,first
def emptylist(l):
  #creating an ewlist 
  lst = []
  for i in range(0,len(l)):
    print(l[i])
    if l[i]:
      lst.append(l[i])
      continue
    else:
      continue
  return lst

In [ ]:
emptylist(test_list)

5
6
3
9

[5, 6, 3, 9]

In [ ]:
[ ele for ele in test_list if ele != []]

[5, 6, 3, 9]

Using filter :  This is yet another way in which this task can be performe. In this we  filter none values. The None values include empty lists as well and hence  these get removed.

In [ ]:
# Initializing list 
test_list = [5, 6, [], 3, [], [], 9]

In [ ]:
lst = list(filter(None,test_list))
print(lst)

[5, 6, 3, 9]

#Strings

1.Python program to capitalize the first and last character  of each word in a string.

"Given the string, the task is to capitalize the first and last character of each word in a string."

In [ ]:
def capitalizeLetter(sentence):

  words = sentence.split(' ')
  new_words = []

  for word in words:
    wordl =''
    for idx,char in enumerate(word):
    
      if idx in [0,len(word)-1]:
        char = char.upper()
      wordl += char
    
    new_words.append(wordl)
  
  sentence = ' '.join(chr for chr in new_words)

  return sentence

In [ ]:
str1 = 'hello world'
capitalizeLetter(str1)

'HellO WorlD'

In [ ]:
str2 = 'welcome to geeksforgeeks'
capitalizeLetter(str2)

'WelcomE TO GeeksforgeekS'

2. Python program to check if a string  has at least one letter and one number.

Given a string in Python. The task is to check whether the string has at least one letter(character) and one number. Return "True" if the given string full fill above condition else return "False" (without quotes)

In [ ]:
def checkword(s):

  alphabet_flag = 0
  numeric_flag = 0

  for char in s:
    if char.isalpha():
      alphabet_flag = 1
    if char.isdigit():
      numeric_flag = 1
  
  if alphabet_flag == 1 and numeric_flag == 1:
    return True
  else:
    return False

In [ ]:
s = "welcome2ourcountry34"

In [ ]:
t = 'stringwithoutnum'

In [ ]:
checkword(t)

False

In [ ]:
checkword(s)

True

3. Program to accept the strings which contain all vowels

Given a string, the task is to check if every vowel is present or not. We consider a vowel to be present  if it is present  in upper case or lower case ie.e 'a','e','i','o','u','A','E','I','O','U'.

Basically every vowel should be present in either upper or lower case.

In [ ]:
def vowels(word):
  vowel = ['a','e','i','o','u']
  count = 0
  iterated_vowels = []
  for char in word:
    if char.lower() in vowel:
      if char.lower() in iterated_vowels:
        continue
      else:
        iterated_vowels.append(char.lower())
        count +=1
  if count == 5:
    print("All the vowels are present")
  else:
    print("All vowels are not present")

In [ ]:
# another Implementation using set 
def check(string):
  string = string.lower()

  #set() function convert "aeiou"
  #string into set of characters 
  #i.e vowels  = {'a','e','i','o','u'}

  vowels = set("aeiou")

  # set() function to convert empty 
  # dictionary to empty set 
  s = set({})

  for char in string:
    if char in vowels:
      s.add(char)
    else:
      pass
  print(s)
  if len(s) == len(vowels):
    print("Accepted")
  else:
    print("Not Accepted")

In [ ]:
word = 'geeksforgeeks'
newword = 'ABeeIghiObhkUul'

In [ ]:
vowels(word)

All vowels are not present

In [ ]:
vowels(newword)

All the vowels are present

In [ ]:
check(newword)

{'o', 'a', 'i', 'u', 'e'}
Accepted

4. Count the number of matching character in a pair of string 

"Given a pair of nonempty strings. Count the number of matching characters in those strings ( consider the single count for the character  which have duplicates in the string)"

In [ ]:
def matchingchar(s1,s2):
  s1 = s1.lower()
  s2 = s2.lower()

  count = 0
  s = set({})
  for char in s1:
    if char in s2:
      s.add(char)
  
  count = len(s)
  return count

In [ ]:
str1 = 'abcdef'
str2 = 'defghia'

In [ ]:
str1 = 'aabcddekll12@'
str2 = 'bb22ll@55k'

In [ ]:
matchingchar(str1,str2)

5

approach 2:
1. In this approach set() is used to remove duplicate on a given string.
2. After the concept  of set(intersection) is used on given string
3. After that we find the length using len() method.

In [ ]:
def match(s1,s2):
  s1 = s1.lower()
  s2 = s2.lower()

  s1 = set(s1)
  s2 = set(s2)

  # using (&) intersection mathematical operation on sets
  # the unique characters  present in both the strings
  # are stored in matche_characters  set variable
  matched_char = s1 & s2

  print("No. of matching characters are : " + str(len(matched_char)) )

  return len(matched_char)

In [ ]:
str1 = 'aabcddekll12@'
str2 = 'bb22ll@55k'

In [ ]:
match(str1,str2)

No. of matching characters are : 5

5

5. Remove all duplicates from a given string in Python.

"We are given a string and we need to remove all duplicates from it? What will be the output if the order of character matters?

In [ ]:
def duplicates(s):

  strg = ''
  for char in s:
    if char in strg:
      continue
    else:
      strg += char
  
  return strg

In [ ]:
def duplicatesnoOrder(s):

  return ''.join(set(s))

In [ ]:
str1 = 'geeksforgeeks'

In [ ]:
duplicates(str1)

'geksfor'

In [ ]:
duplicatesnoOrder(str1)

'oksfegr'

6. Least frequent character in string
Naive method

In [ ]:
def leastchar(s):

  s = s.lower()
  d = {}
  for char in s:
    if char in d.keys():
      d[char] +=1
    else:
      d[char] = 1
  print(d)
  return min(d,key = d.get)

In [ ]:
test_str = "GeeksforGeeks"

In [ ]:
leastchar(test_str)

{'g': 2, 'e': 4, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1}

'f'

7. Odd frequency Characters

In [ ]:
def odd(s):
  s = s.lower()
  d = {}
  for char in s:
    if char in d.keys():
      d[char] +=1
    else:
      d[char] = 1
  lst = []
  for key,value in d.items():
    if value % 2 == 0:
      continue
    else:
      lst.append(key)

  return lst

In [ ]:
def odd(s):
  s = s.lower()
  d = {}
  for char in s:
    if char in d.keys():
      d[char] +=1
    else:
      d[char] = 1
  lst = [val for val,chr in d.items() if chr %2 == 1]


  return lst

In [ ]:
test_str ="geekforgeeks"
odd(test_str)

['f', 'o', 'r', 's']

8. Frequency of numbers in string.

re.findall() + len() 

The combination of above functions can be used to perform this task. In this, we check for all numbers and put in list using findall() and count is extracted using len()

In [ ]:
test_str = "geeks4feeks is No. 1 4 geeks"

Input : test_str = geekforgeeks
Output : [r, o, f, s]

## Programs on Substring

1. Check if a substring is present in a given string.

"Given two strings, check if s1 is in s2. 

We can check for every word, but Python provides us an inbuilt function find() which checks if a substring is present in the string. which is done in one line. 
find() function returns -1 if it is not found,else if returns the first occurance.

In [ ]:
def findstring(s1,substring):
  words = s1.split(' ')
  for word in words:

    if substring in word:
      return True
    else:
      return False

In [ ]:
s1 ="geeks for geeks"
s2 = 'gee'

In [ ]:
findstring(s1,s2)

True

In [ ]:
def findstring(s1,s2):
  if (s1.find(s2) == -1):
    print("No")
  else:
    print("Yes")

In [ ]:

s1 ="geeks for geeks"
s2 = 'geek'

In [ ]:
findstring(s1,s2)

Yes

2. Substring presence in String List.

Given list of substrings and list of strings, check for each substring, if they are present in any of strings in List.

In [ ]:
def presence(substrn,string):

  # naive method by using 2 loops
  lst = []
  # Initializing the default to False.
  for i in substrn:
    lst.append(False)
  
  for idx,word in enumerate(substrn):
    for word2 in string:
      if word in word2:
        lst[idx] = True
        break

  return lst

In [ ]:
test_list1 = ["Gfg", "is", "best"]
test_list2 = ["I love Gfg", "Its Best for Geeks", "Gfg means CS"]

In [ ]:
test_list1 = ["Gfg", "is", "best"]
test_list2 = ["I love Gfg", "Its is Best for Geeks","Gfg means CS"]

In [ ]:
presence(test_list1,test_list2)

[True, True, False]

In [ ]:
# List Comprehension 
[True if any(i in j for j in test_list2) else False for i in test_list1]

[True, True, False]

3. All substring Frequency in String

Given a String, extract all unique substrings with their frequency

In [ ]:
test_str = "ababa"
#Output : {a: 3, ab: 2, aba: 2, abab: 1, ababa: 1, b: 2, ba: 2, bab: 1, baba: 1}
#Explanation : All substrings with their frequency extracted.

In [ ]:
def substrings(s):

  # the substrings should be in order of their occurance in the string
  # like substring : a is cool, but not "b", as "b" is preceded by "a"/

  # the for loop is to get substring of all lengths following upto the complete
  # string length.
  output = {}
  for j in range(0,len(s)): # outer loop to increment the start position 
  # once the inner loop is exhausted.
    for i in range(0,len(s)):
      substring = s[j:i+1]
      if substring not in output:
        output[substring] = 0
      else:
        continue

      # next step is to find all the occurance of substring in the main string
      # with substring as key and count as the value, 
      # hence we will need a dictionary to hold the values. 
      # but we need to slide along the string, based on the length
      # of the substring we are trying to find
      k = 0
      while k < len(s):
        if substring in s[k:k+i+1]:

          output[substring] +=1
        
        k+=i+1

  return output

In [ ]:
d = 'ababa'
substrings(d)

{'': 5,
 'a': 3,
 'ab': 2,
 'aba': 1,
 'abab': 1,
 'ababa': 1,
 'b': 2,
 'ba': 2,
 'bab': 1,
 'baba': 1}

In [ ]:
test_str = "ababa"

In [ ]:
# Using List Comprehension 
temp = [test_str[idx:j] for idx in range(0,len(test_str))for j in range(idx+1,len(test_str)+1)]

res = {}

for idx in temp:
  if idx not in res:
    res[idx] = 1
  else:
    res[idx] +=1
print(res)

{'a': 3, 'ab': 2, 'aba': 2, 'abab': 1, 'ababa': 1, 'b': 2, 'ba': 2, 'bab': 1, 'baba': 1}

4. Possible Substring count from String

Given target string and argument substring, count how many substrings can be constructed using string characters, repetitions not allowed.

In [ ]:
# initializing arg string
arg_str = "geeks"
test_str = "gekseforgeeks"
 
# using min and count to get minimum possible
# occurrence of character
print(list(test_str.count(char) for char in set(arg_str)))
res = min(test_str.count(char) // arg_str.count(char) for char in set(arg_str))

print(res)

[2, 2, 2, 4]
2

# Interators in Python

Iterator in python is an object that is used to iterate over iterable objects like lists, tuples, dicts and sets. 

The iterator object is initialized using the iter() method. It uses the next() method for iteration.

1. _iter(iterable)_ : Method that is called for the initialization of an iterator. This returns an iterator object

2. next(_next_ in Python 3): The next method returns the next value for the iterable. When we use a loop to traverse any iterable object, internally it uses the iter() method to get an iterator object which further uses the next() method to iterate over. 
This method raises a StopIteration to signal the end of the iteration.

In [ ]:
iterable_value = 'Geeks'
iterable_obj = iter(iterable_value)

while True:
  try:
    # iterate by called next
    item = next(iterable_obj)
    print(item)
  except StopIteration:

    #exception will happen when iteration will over
    break

G
e
e
k
s

In [ ]:
# A simple python program to demonstrate 
# working of iterators using an example type
# that iteraters from 10 to given value

# An iterable user defined type
class Test:

  #constructor
  def __init__(self,limit):
    self.limit = limit
  
  #creates iterator object 
  #called when iteration is initialized
  def __iter__(self):
    self.x = 10
    return self

  # to move to the next element. In python 3,
  # we should replace next with __next__
  def __next__(self):

    x = self.x

    #store current value of x
    if x > self.limit:
      raise StopIteration

    self.x = x + 1
    return x

In [ ]:
for i in Test(15):
  print(i)

10
11
12
13
14
15

## Generators in Python 

There are two terms involved when we discuss generators 

1. Generator-Function : A generator function is defined like a normal function, but whenever it needs to generate a value, it does so with the yield keyword rather than return .
If the body of a def contains yield, the function automatically becomes a generator function.

In [ ]:
def simplegeneratorFun():
  yield 1
  yield 2
  yield 3

In [ ]:
for value in simplegeneratorFun():
  print(value)

1
2
3

generator-object : Generator functions return a generator object. Generator objects are used either by calling the next method on the generator object or using the generator object in a "for in" loop.

In [ ]:
# A python program to demostrate use of generator object 
# next()

def simplegeneratorfun(list1):
  for i in list1: 
    yield i

In [ ]:
list1 = [[2,3],[4,5],[6,7]]
x = simplegeneratorfun(list1)

In [ ]:

print(next(x))

[2, 3]

# print the squares of first n natural numbers using a generator

In [ ]:
def mygenerator(n):

  # initializing a to 1
  a = 1

  while True:
    if  a <= n:

      yield a**2
  
    else:
      raise StopIteration
  
    a +=1

In [ ]:
x = mygenerator(5)

# Dictionaries

1. Sort Python dictionaries by Key or Value

 - Create a dictionary and display its keys alphabetically
 - Display both the keys and values sorted in alphabetical order by the key 
 - Same as (ii), but sorted in alphabetical order by value.

In [ ]:
d = {}
d[2] = '64'       
d[1] = '69'
d[4] = '23'
d[5] = '65'
d[6] = '34'
d[3] = '76'

In [ ]:
sortkeys = sorted(d.keys())
index = 0
while index < len(sortkeys):

  for key,value in d.items():
    if key == sortkeys[index]:
      print(key,":",d[key])
    else:
      continue

  index +=1

1 : 69
2 : 64
3 : 76
4 : 23
5 : 65
6 : 34

2. Handling missing keys in Python dictionaries.

In [ ]:

country_code = {'India': 91,
                'Australia' :25,
                'Nepal' :977,
                'Poland': 45,
                'Spain' : 34,
                'Germany' : 44}

In [ ]:
# Using get()
#get(key,def_val) method is useful when we have to check for the key. If the key is present,
# the value associated with the key is printed, else the def_value passed in arguments is returned.

print(country_code.get('India',"Not Found"))
print(country_code.get('Japan',"Not Found"))
print(country_code.get('Germany',"Not Found"))

91
Not Found
44

3. Python dictionary with keys having multiple Inputs.

In [ ]:
# creating an empty dictionary
dict1 = {}
 
# Insert first triplet in dictionary
x, y, z = 10, 20, 30
dict1[x, y, z] = x + y - z;
 
# Insert second triplet in dictionary
x, y, z = 5, 2, 4
dict1[x, y, z] = x + y - z;
 
# print the dictionary
print(dict1)

{(10, 20, 30): 0, (5, 2, 4): 3}

## Python Nested Dictionary 

What is Nested Dictionary in Python:

In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.

In [ ]:
nested_dict = { 'dictA' : {'key1':'value1'},
               'dictB' : {'key2':'valu2'}}

Here, the nested_dict is a nested dictionary with the dictionary dictA and dictsB. They are two dictionary each having own key and value.

1. Create a Nested Dictionary

In [ ]:
people = {1 : {'name':'John','age':'27','sex':'Male'},
          2 : {'name':'Marie','age': '22','sex':'female'}}
print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'female'}}

2. Access elements of a Nested Dictionary

In [ ]:
print(people[2]['sex'])

female

3. Add element to a Nested Dictionary

In [ ]:
people[3] = {}

people[3]['Name'] = 'Luna'
people[3]['age'] = '24'
people[3]['sex'] = 'female'
people[3]['married'] = 'No'

In [ ]:
people[4] = {'name':'Peter','age': '27','sex': 'male','married':'Yes'}

In [ ]:
print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'female'}, 3: {'Name': 'Luna', 'age': '24', 'sex': 'female', 'married': 'No'}, 4: {'name': 'Peter', 'age': '27', 'sex': 'male', 'married': 'Yes'}}

4. Iterate Through a Nested Dictionary 

Using the for loops, we can iterate through each elements in a nested dictionary

In [ ]:
for p_id,p_info in people.items():
  print("\nPerson ID",p_id)

  for key in p_info:
    print(key +":",p_info[key])

Person ID 1
name: John
age: 27
sex: Male

Person ID 2
name: Marie
age: 22
sex: female

Person ID 3
Name: Luna
age: 24
sex: female
married: No

Person ID 4
name: Peter
age: 27
sex: male
married: Yes

In [ ]:
for key,value in people.items():
  print(people[key])

{'name': 'John', 'age': '27', 'sex': 'Male'}
{'name': 'Marie', 'age': '22', 'sex': 'female'}
{'Name': 'Luna', 'age': '24', 'sex': 'female'}
{'name': 'Peter', 'age': '27', 'sex': 'male', 'married': 'Yes'}

4.Delete elements from a Nested Dictionary

In [ ]:
del people[3]['married']

In [ ]:
print(people[3])

{'Name': 'Luna', 'age': '24', 'sex': 'female'}

More Examples on Nested Dictionary

In [ ]:
D = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}

The DICT() constructor

There are several ways to create a nested dictionary using a type constructor called
dict().

To create a nested dictionary, simply pass dictionary key:valye pair as keyword arguments to dict() constructor

In [ ]:
# Merge two Nested Dictionary 

D1 = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
      'emp2': {'name': 'Kim', 'job': 'Dev'}}
D2 = {'emp2': {'name': 'Sam', 'job': 'Dev'},
      'emp3': {'name': 'Max', 'job': 'Janitor'}}

D1.update(D2)
print(D1)

{'emp1': {'name': 'Bob', 'job': 'Mgr'}, 'emp2': {'name': 'Sam', 'job': 'Dev'}, 'emp3': {'name': 'Max', 'job': 'Janitor'}}

In [ ]:
D1.pop('emp3')

{'job': 'Janitor', 'name': 'Max'}

In [ ]:
print(D1)

{'emp1': {'name': 'Bob', 'job': 'Mgr'}, 'emp2': {'name': 'Sam', 'job': 'Dev'}}

## Lambda

In Python, Lambda Function is an anonymous function, which means that it is a function without a name. It can have any number of arguments but only one expression, which is evaluated and returned. 
It must have a return value. 

Since a lambda function mut have a return value for every valid input, we cannot define it with "if" but without "else" as we are not specifyng what will we return if the if-condition will be False i.e its else part.

1. Write a Python program to create a lambda function that adds $15$ to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result

In [ ]:
add15 = lambda x : x+ 15
mult = lambda x,y : x*y

In [ ]:
print(add15(10))
print(mult(6,8))

25
48

3. Write a Python program to sort a list of tuples using Lambda.
Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [ ]:
gtp =[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

[('English', 88), ('Maths', 97), ('Science', 90), ('Social sciences', 82)]

In [ ]:
gtp.sort(key = lambda x : x[1])

In [ ]:
print((gtp))

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

3.  Write a Python program to filter a list of integers using Lambda

In [ ]:
even = filter(lambda x : x % 2 == 0,lst)

In [ ]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(list(even))

[2, 4, 6, 8, 10]

#Map

1.Write a Python program to triple all numbers of a given list of integers

In [ ]:
r = map(lambda x:x*3,range(1,11))
print(list(r))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

2. Write a Python program to add three given lists using Python map and lambda.

In [ ]:
lst1 = [1,2,3,4,5,6]
lst2 = [7,8,9,10,11,12]

In [ ]:
f = map(lambda x,y : x+y,lst1,lst2)
print(list(f))

[8, 10, 12, 14, 16, 18]

3. Write a Python program to listify the list of given strings individually using Python map.

In [ ]:
color = ['Red', 'Blue', 'Black', 'White', 'Pink'] 

f = list(map(list,color))
print(f)

[['R', 'e', 'd'], ['B', 'l', 'u', 'e'], ['B', 'l', 'a', 'c', 'k'], ['W', 'h', 'i', 't', 'e'], ['P', 'i', 'n', 'k']]

# Ridge

In [ ]:
from sklearn.datasets import load_diabetes
from sklearn.linear_model import RidgeCV
X, y = load_diabetes(return_X_y=True)
clf = RidgeCV(alphas=[1e-3, 1e-2, 1e-1, 1]).fit(X, y)

In [ ]:
clf.predict(X)

array([204.30324008,  69.68600206, 175.22187635, 164.6597524 ,
       128.23867015, 105.73535189,  77.21946172, 121.57007705,
       159.31851016, 213.18741742,  99.42856179, 101.23084798,
       114.80847861, 162.76883194, 102.27544379, 174.7726148 ,
       209.51670809, 182.23487077, 146.86561085, 122.65445219,
       119.08758001,  89.50385419, 116.33717225, 265.72345543,
       164.03700391, 145.79026763,  96.68176523, 177.98394823,
       127.95128615, 183.55022744, 158.86498565,  69.59667632,
       257.27008944, 108.94124894,  80.05043639,  85.12957427,
       206.47812632, 155.27953569, 241.57381353, 136.11010577,
       153.57965855,  74.02848707, 144.15154599,  78.90306881,
       218.30760284, 124.4782497 , 140.5475606 , 107.73561017,
        76.45948512, 186.93051945, 157.50464005, 167.92394722,
       133.75078853, 157.75403489, 140.35101701,  74.03752195,
       205.35950246,  79.95832119,  98.66460064, 134.33846834,
       114.57897492, 177.07131046,  65.49834471, 100.09326653,
       113.25107286, 186.9285915 , 146.58389604, 124.18515411,
       113.59014233, 123.20893753,  75.8538939 , 235.49599353,
       145.85055454, 123.60267019, 150.6762393 , 126.85110837,
       190.74125795,  80.72120243, 163.9006104 ,  93.85518958,
       173.14497528, 121.59634949,  65.70756522, 150.78518934,
        56.39680771, 167.58005191,  49.17035022, 151.12192045,
        80.68913565, 105.54331012,  83.11926087, 186.5366361 ,
       189.39270437,  60.77632763, 106.6814866 , 123.24687724,
       206.83324894, 213.20097265, 123.11195439, 136.67364524,
       167.24227888, 107.01259862, 149.88968285, 158.6806029 ,
       155.10912045, 115.08055796,  74.77086808, 157.65980003,
       227.74889565, 144.03966806,  47.685192  , 121.37942336,
       152.61794719, 207.36856829, 295.06598599, 189.88797469,
       211.89146903, 236.10027895, 164.33494373, 148.54622173,
       156.37847099, 198.34773882, 218.31768274, 173.25355866,
       167.65274816, 189.02775327,  63.0241166 , 107.02044133,
        92.71938137, 208.86049865, 243.5254418 ,  71.26658869,
       113.9499438 ,  71.21170566, 140.95877599, 236.95121031,
        60.56330188, 232.48510863, 252.77290632, 251.26062894,
       156.88498298, 227.4851329 , 170.83658449, 118.2055941 ,
       177.04053319, 238.63142332, 189.13951474, 226.88042848,
       115.48136013, 175.98878731, 208.3124014 , 142.77351694,
       197.7777431 , 122.53128082, 150.13551587, 198.99724785,
       145.2867354 , 123.34789658,  85.7596563 , 233.69818427,
        83.33183103, 233.51518876, 143.81123398, 197.09641834,
       143.43023087,  77.70022048,  62.76872539, 263.71960112,
       225.10781523, 233.2208423 ,  52.62728837,  89.48607238,
       222.96609167,  95.82921162, 162.42978339, 120.13166487,
       157.26550177, 222.63912979, 101.10910048, 164.4504322 ,
       177.2281638 ,  90.1267646 , 170.74394099, 156.93065917,
       199.75122128, 185.88791448, 194.91660266,  70.03752732,
       153.86664338, 114.80880828, 192.92404457, 126.35822542,
        92.73487336, 140.13836859, 153.22195461, 169.23929508,
        98.91973646, 188.61815577, 146.51992533, 179.81346479,
        96.24259377,  71.39281376, 168.25159647, 195.88356302,
       176.50557208, 226.51796794, 159.30193035, 211.4046812 ,
       221.20851168, 171.34528351, 126.40316944, 175.0619832 ,
       151.61866919,  98.75137259,  97.84795644, 261.0037916 ,
       220.25822066, 220.23145379, 131.37236493, 142.05250293,
        59.95801497, 140.55000449, 152.64621722, 123.12968301,
        77.72975398, 228.98614831,  79.31968959, 105.60413038,
       117.25322424,  99.43001531, 168.2246978 , 157.36428515,
       157.09261274, 141.88348335, 231.04254649, 175.17536377,
       185.82723306,  67.13641933, 187.04845933, 179.87251938,
       232.71642011, 120.47372008,  89.19390807, 101.4589178 ,
       140.83324471, 101.3295942 , 119.92870423,  80.346599  ,
       234.28201458, 245.31864552, 264.05101551, 275.74854884,
       179.56738204, 202.27613637, 263.00817556, 116.60966199,
       265.30347398, 102.74586289, 116.75805056, 141.69935313,
        61.12759541, 126.13502375, 261.43139061,  48.95192036,
       126.83552084, 129.77460297,  38.83163011, 137.73205471,
       242.11012925,  87.44231856, 189.8711726 , 163.93408661,
       146.36807387, 198.33945847, 174.43530244, 156.87419702,
       189.8186521 , 114.47793234, 110.98256782, 117.06584135,
       163.79962319,  95.11248685, 139.88845824,  86.80662675,
       158.24165888, 199.43936451,  76.28074239, 146.97978508,
        83.557842  , 190.86363509, 219.63453432, 204.14977048,
        93.84542931, 181.78969445,  87.04285561, 152.13574972,
        78.48228994, 100.99446612, 107.00641106, 123.37621565,
       216.68987784, 125.73588583, 205.21858729, 231.50763149,
       123.19760741, 132.64954   , 128.03983215, 147.51668831,
        89.0352182 , 139.17783562, 203.45913552, 171.87504217,
       123.62881041, 212.75287348, 173.3476189 , 109.7932476 ,
       198.57573826, 172.26557476, 161.18648371, 189.44274692,
       189.75886937, 286.21964174, 289.54720685, 226.98578945,
       208.99051389, 218.31235758, 155.10316721, 222.72741093,
       186.88156675, 103.14824151, 177.85439016, 112.39653933,
       289.60838572, 180.82633126,  81.61418964,  87.20331257,
       249.37308823, 172.30312605, 122.41745745, 146.07613425,
       171.04238502, 183.96281372, 164.55122401, 159.49024168,
       142.99622123, 124.85287042, 179.30449913, 102.77318957,
       129.42588465,  96.66729181, 250.43703194,  87.64096394,
        58.44895219, 170.20638727, 195.38121205, 133.4957391 ,
        93.56027327, 200.68259422,  56.56972443, 172.87763172,
       194.55342775, 121.67037628, 233.49414399, 162.50933596,
       158.62293825, 161.1193727 , 254.2190476 , 255.89900237,
       199.51998062, 182.9322031 ,  60.01771052, 203.61043412,
       109.43243366, 142.26085744, 125.60556028, 178.37976865,
       210.90414801, 167.46851564, 162.55157214, 135.78237053,
       175.71242887,  73.5208315 , 251.84198209, 114.04062395,
       111.98581676, 139.0863868 , 109.45867644,  98.07539021,
       161.50564939,  75.91410899, 259.72860477,  57.7915915 ,
       100.43475   , 101.27210391, 269.50969276, 167.29385271,
        67.181882  , 180.08964451, 170.85998609, 188.7196994 ,
       185.28343406,  87.58704068, 146.07703761, 250.88909792,
       199.28969646, 280.22575739,  51.63246701, 174.54885941,
       203.16227849, 172.34402548, 158.62368271, 152.22387129,
       231.29882551, 122.28989519, 164.94746462, 170.02363968,
       226.85973388, 151.20840288,  99.81726654,  83.24647506,
       140.81635905, 190.47068984, 199.20851997, 150.96655451,
       169.64182652, 109.83312762, 161.80114015, 130.76078328,
       258.62680037, 101.11261131, 115.01659239, 120.99918468,
       218.1055661 ,  61.37880078, 133.25225406, 120.2288604 ,
        53.88391588, 192.01838679, 102.61450598, 123.18863444,
       209.99165207,  50.04249278])

In [ ]:
clf.score(X,y)v

0.5166287840315833